@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap')
	;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;
}

@media ( min-width :60rem) {
	.title {
		font-size: 3.7rem;
	}
}

/*button
++++++++++++++++++++*/

/* .button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

.buttton.accent {
	color: #D674DB;
} 

*/

/* header */
header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .8rem;
	color: #B21472;
}

nav a:hover, nav a:focus {
	color: #B21472;
}

@media ( min-width : 60rem) {
	.logo {
		float: left;
		margin: 3px;
	}
	nav {
		float: right;
	}
}

/* home-home */
.home-hero {
	/* 	backround-image: url("../img/hira-bg.jpg");*/
	background-image: linear-gradient(#BBE0FF, #D674DB);
	backround-size: cover;
	backround-position: center;
	padding: 10em 0;
}

@media ( min-width : 60 rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}
}

.home-about-textbox {
	background-color: #BBE0FF;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #D674DB;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-about-textbox h1 {
	color: #D674DB;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #BBE0FF;
	padding: 0 .145em;
}

@media ( min-width : 25rem) {
	h1 {
		font-size: 2rem;
	}
	.home-about-textbox {
		padding: 5.5em;
	}
	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
}

@media ( min-width : 60rem) {
	h1 {
		font-size: 2.5rem;
	}
	.home-about {
		background-image: url(../img/STEMgirl.png);
		background-repeat: no-repeat;
		padding-bottom: 8em;		
	}
	.home-about-textbox {
		width: 60%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: -6em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3);
	}
	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}
}